---
const communityLink = 'https://www.skool.com/rocketlauncher-university';
const trialLink = 'https://www.gohighlevel.com/affiliate-30trial?fp_ref=30dayfreetrialrl';

const aboutLink = '/about';
const projectName = 'RocketScanner';
const currentYear = new Date().getFullYear();
---

<footer>
  <p>
    <a href={aboutLink}>{projectName}</a> — Analyze any website · © {currentYear}
  </p>
  <p>
    <a href={communityLink} target="_blank" rel="noreferrer">Free Community</a>
    ·
    <a href={trialLink} target="_blank" rel="noreferrer">Try GoHighLevel Free for 30 Days</a>
  </p>
</footer>

<style lang="scss">
  @use '@styles/global.scss' as *;
  footer {
    margin-top: 1rem;
    background: var(--primary);
    color: var(--background);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    p,
    a {
      margin: 0;
      color: var(--background);
      font-size: 1rem;
    }
    a {
      text-decoration: underline;
    }
    @include tablet-portrait-down {
      flex-direction: column;
      align-items: center;
    }
  }
</style>
